<div class="col-xs-9 input-group">
  <form class="" action="index.html" method="post">
    <input id="spotName" type="text" class="form-control" placeholder="Spot Name">
    <input id="streetAddress" type="text" class="form-control" placeholder="Street Address">
    <input id="city" type="text" class="form-control" placeholder="City">
    <input id="state" type="text" class="form-control" placeholder="State">
    <input id="zip" type="text" class="form-control" placeholder="Zip">
  </form>
</div>
