<div class="col-xs-9 input-group">
  <form>
    <input ng-model="add.newSpot.spotName" id="spotName" type="text" class="form-control" placeholder="Spot Name">
    <input ng-model="add.newSpot.streetAddress" id="streetAddress" type="text" class="form-control" placeholder="Street Address">
    <input ng-model="add.newSpot.city" id="city" type="text" class="form-control" placeholder="City">
    <input ng-model="add.newSpot.state" id="state" type="text" class="form-control" placeholder="State">
    <input ng-model="add.newSpot.zip" id="zip" type="text" class="form-control" placeholder="Zip">
    <input ng-model="add.newSpot.notes" id="zip" type="text" class="form-control" placeholder="Notes">
    <input type="file" file-model="add.newSpot.file" name="file"/>
  <button class="btn-default" ng-click="add.reviewSpot()">Review</button>
  <div id="formTestDiv">
    <img ng-src="{{add.newSpot.ImageSrc}}" />
    <h3>From info: </br></h3>
    <p>{{add.newSpot.spotName}}</br>{{add.newSpot.streetAddress}}</br>
    {{add.newSpot.city}}</br>{{add.newSpot.state}}</br>{{add.newSpot.zip}}</p>
  </div>
</div>
