</br></br><h1>Reveiw Page!</h1>
<div>
  <h1>Review Spot</h1>
  <h3>{{review.spotData.spotName}}</h3></br>
  <p>{{review.spotData.streetAddress}}</p>
  <p>{{review.spotData.city}} </p>
  <p>{{review.spotData.state}}</p>
  <p>{{review.spotData.zip}}</p></br>
  <p>{{review.spotData.notes}}</p>
</div>
<div ng-repeat="image in review.images">
  <img class="preview-image col-xs-3" ng-src="{{image.base64}}" />
</div>
<button ng-click="review.confirmSpot()">Confirm</button>
<button><a href="#add">Back to Edit</a></button>
