<div class="col-xs-12 centered">
  <h1>Review Spot</h1>
  <h3>{{review.spotData.spotName}}</h3></br>
  <h4>{{review.spotData.streetAddress}}</h4>
  <h4>{{review.spotData.city}} </h4>
  <h4>{{review.spotData.state}}</h4></br>
  <h4>{{review.spotData.notes}}</h4>
</div>
<div class="col-xs-12">
  <div ng-repeat="image in review.images">
    <img class="col-xs-4" ng-src="{{image}}">
  </div>
</div>

<button ng-click="review.confirmSpot()">Confirm</button>
<button><a href="#add">Back to Edit</a></button>
